.box {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	padding: 10px;
	font-weight: bold;
	color:#FFF;
	margin-bottom: 10px;
	position: absolute;

}
/*
#container {
	position: relative;

}*/

/*.box>img {
	float: right;
	top: 10px;
	right: 10px;
}*/

}
#red {
	background-color:red;
}

#orange {
	background-color:orange;
}

#yellow {
	background-color:yellow;
}

#green {
	background-color:green;
	clear: left;
}

#blue {
	background-color:blue;

}

#violet {
	background-color:violet;
}

